{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid">

		<h1>Votre tableau de bord</h1>
		<div class="row">
			<div class="col-md-3 col-lg-4">
				<div class="card text-dark bg-info">
					<div class="card-body">
						<h5 class="card-title">Vos véhicules</h5>
						<table>
							<thead>
								<th>Marque</th>
								<th>Modèle</th>
								<th>Immatriculation</th>
								<th>Action</th>
							</thead>
							<tbody>
								<tr>
									<td>KIA</td>
									<td>Optima</td>
									<td>CY-699-NP</td>
									<td>
										<a href="#" class="btn btn-primary">Voir</a>
									</td>
								</tr>
								<tr>
									<td>Renault</td>
									<td>Clio</td>
									<td>AC-123-SE</td>
									<td>
										<a href="#" class="btn btn-primary">Voir</a>
									</td>
								</tr>
								<tr>
									<td>Fleurette</td>
									<td>LMF 73</td>
									<td>FS-150-SE</td>
									<td>
										<a href="#" class="btn btn-primary">Voir</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-lg-4">
				<div class="card text-dark bg-success">
					<div class="card-body">
						<h5 class="card-title">Consommations</h5>
						<div class="col-sm-6 col-lg-4">
							<canvas id="pieChart"></canvas>
						</div>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
		</div>

	</div>


</div>{% endblock %}
