<h1>Veuillez confirmer votre adresse e-mail</h1>

<p>
	Merci de confirmer votre adresse e-mail en cliquant sur le lien:
	<br><br>
	<a href="{{ signedUrl|raw }}">Confirmer mon E-mail</a>.
				    Ce lien expire dans
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	Cordialement!
</p>
