<h1>Bonjour, veuillez confirmer votre e-mail</h1>

<p>
	Merci de confirmer votre adresse e-mail en cliquant sur le lien ci-après:<br><br>
	<a href="{{ signedUrl }}">Confirmer mon E-mail</a>.
		    Ce lien expire dans
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	Cordialement !
</p>
