<form method="post" action="{{ path('vehicule_delete', {'id': vehicule.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce véhicule?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicule.id) }}">
	<button class="btn">Supprimer</button>
</form>
