{% extends 'base.html.twig' %}

{% block title %}Gesparc
{% endblock %}

{% block body %}
	<p>
		Si votre compte est valide, un email contenant un lien pour la modification du mot depasse a été envoyé. 
		        Ce lein expire dans
		{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
	</p>
	<p>Si vous ne recevez ce e-mail, vérifiez vos spams ou
		<a href="{{ path('app_forgot_password_request') }}">Nouvelle demande</a>.</p>
{% endblock %}
