{% extends 'main.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<!-- Page Wrapper -->
	<div
		id="wrapper">
		<!-- Sidebar -->
		{% include "includes/_sidebar.html.twig" %}

	</div>
{% endblock %}
