{% extends 'main.html.twig' %}

{% block title %}Tableau de bord!
{% endblock %}

{% block body %}
	<!-- Page Wrapper -->
	<div
		id="wrapper">
		<!-- Sidebar -->
		{% include "_includes/sidebar.html.twig" %}

	</div>
{% endblock %}
