<div class="col-12">
	<div class="page-header">
		<img class="img-fluid " src="{{ asset('assets/img/cabine.jpg') }}" alt="Image">
	</div>
	<div class="boite-texte">
		<h1 class="texte">
			Gesparc
		</h1>
		<h3 class="texte2">
			Gestion du parc automobile</h3>
	</div>
</div>
